<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development Logger</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="text-center devLogHeading">Development Logger</h1>
                </div>
            </div>
            <hr style="background-color:rgb(255, 255, 255)" />
            <div class="container-fluid">
                <div class="row" v-for="milestone in milestones">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div @click="toggleMilestone(milestone)" style="cursor: pointer;color:white;">
                                    <span v-if="milestone.isOpen">▼</span>
                                    <span v-else>►</span>
                                </div>
                                <h2 class="text-center milestoneLabel">{{milestone.name}} v.{{milestone.version}}</h2>
                            </div>
                        </div>
                        <transition name="slide">
                            <div v-if="milestone.isOpen">
                                <div class="row flex-row flex-nowrap overflow-auto">
                                    <div class="col-3" v-for="card in getCardsByMilestoneId(milestone.id)"
                                        style="min-width:300px;">
                                        <div class="developmentCard" style="padding:10px;">
                                            <h3 class="text-center" style="padding:10px">{{card.title}}
                                            </h3>
                                            <hr style="margin:0;">
                                            <h4>Beschreibung</h4>
                                            <p>{{card.description}}</p>
                                            <h4>Tasks</h4>
                                            <div v-for="subTask in getSubTasksByCardId(card.id)">
                                                <span :class="getClassByStatus(subTask.status)"
                                                    :title="getStatustextByStatus(subTask.status)">
                                                    {{subTask.title}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Vue CDN -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            milestones: [
                { id: 1, version: "0.1", name: "Meileinstein 1", isOpen: true },
                { id: 2, version: "0.1a", name: "Meileinstein 2", isOpen: true },
                { id: 3, version: "0.2", name: "Meileinstein 3", isOpen: true }
            ],
            cards: [
                { id: 1, title: "Aufgabe 1", description: "Description goes here and is extra long so that long descriptions will also be visible and displayed correctly", milestoneId: 1 },
                { id: 2, title: "Aufgabe 2", description: "Description goes here", milestoneId: 1 },
                { id: 3, title: "Aufgabe 3", description: "Description goes here", milestoneId: 1 },
                { id: 4, title: "Aufgabe 4", description: "Description goes here", milestoneId: 1 }
            ],
            subTasks: [
                { id: 1, title: "Subtask 1", cardId: 1, status: 0 },
                { id: 2, title: "Subtask 2", cardId: 1, status: 1 },
                { id: 3, title: "Subtask 3", cardId: 1, status: 2 },
                { id: 4, title: "Subtask 1", cardId: 2, status: 1 },
                { id: 5, title: "Subtask 1", cardId: 3, status: 1 },
                { id: 6, title: "Subtask 1", cardId: 4, status: 2 }
            ]
        },
        methods: {
            getCardsByMilestoneId: function (milestoneId) {
                return this.cards.filter(card => card.milestoneId == milestoneId);
            },
            getSubTasksByCardId: function (cardId) {
                return this.subTasks.filter(subTask => subTask.cardId == cardId);
            },
            getClassByStatus: function (status) {
                switch (status) {
                    case 0:
                        return "notStarted";
                    case 1:
                        return "inProgress";
                    case 2:
                        return "done";
                }
            },
            getStatustextByStatus: function (status) {
                switch (status) {
                    case 0:
                        return "Nicht gestartet";
                    case 1:
                        return "In Bearbeitung";
                    case 2:
                        return "Fertig";
                }
            },
            toggleMilestone(milestone) {
                milestone.isOpen = !milestone.isOpen;
            },
        }
    })
</script>



</html>