<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development Logger</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="text-center devLogHeading">Development Logger</h1>
                </div>
            </div>
            <hr style="background-color:rgb(255, 255, 255)" />
            <div class="container-fluid">
                <div class="row" v-for="milestone in milestones">
                    <div class="col">
                        <div class="row">
                            <div class="col" @click="toggleMilestone(milestone)">
                                <span class="milestoneLabel">{{milestone.isOpen?"▼":"►"}} {{milestone.name}}
                                    v.{{milestone.version}}</span>
                            </div>
                        </div>
                        <transition name="slide">
                            <div v-if="milestone.isOpen">
                                <div class="row flex-row flex-nowrap overflow-auto">
                                    <div class="col-3" v-for="card in getCardsByMilestoneId(milestone.id)"
                                        style="min-width:300px;">
                                        <div class="developmentCard" style="padding:10px;">
                                            <h3 class="text-center" style="padding:10px">{{card.title}}
                                            </h3>
                                            <span>Fortschritt:</span>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar"
                                                    :style="'width:'+getPercentCompleteByCardId(card.id)+'%'"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                    {{getPercentCompleteByCardId(card.id)}}%
                                                </div>
                                            </div>
                                            <h4>Beschreibung</h4>
                                            <p>{{card.description}}</p>
                                            <h4>Tasks</h4>
                                            <div v-for="subTask in getSubTasksByCardId(card.id)">
                                                <span :class="getClassByStatus(subTask.status)"
                                                    :title="getStatustextByStatus(subTask.status)">
                                                    {{subTask.title}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Vue CDN -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="assets/js/management/vueScript.js"></script>

</html>